:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-image: url("https://static.vecteezy.com/system/resources/previews/011/351/208/non_2x/elegant-golden-stage-circle-glowing-with-lighting-effect-sparkle-on-black-background-template-premium-award-design-free-vector.jpg");
  background-size: cover;
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: light) {

}
