
body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.87);
  background-color: #101012;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root > .appContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#root > .appContainer #signInContainer {
  flex-grow: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10%;
}

#signInContainer #signIn{
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.721);
  padding: 45px;
  padding-bottom: 65px;
}

#root > .appContainer footer {
  padding: 40px 50px 90px 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.721);
}

.appContainer footer div {
  max-width: 1000px;
  flex-grow: 1;
}

.appContainer footer div section {
  display: flex;
  flex-direction: column;
}

.appContainer footer div section div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.inputField{
  font-size: 16px;
  padding: 13px;
  width: 270px;
  border-radius: 5px;
  margin-top: 8px;
  display: block;
}

@media screen and (max-width: 650px) {

  .appContainer footer div section div {
    display: inline;
    margin: 8px;
  }

  .appContainer footer div section div a{
    display: block;
    margin: 3px 0px;
  }

}

@media (prefers-color-scheme: light) {

}
